*{
    margin: 0;padding: 0;
}

header{
    width: auto;
    height: 150px;
    background-color: black;
}
.logo{
    float: left;
    margin: 10px;
    padding: 13px;
}
.logo img{
    width: 80%;
    height: 80%;
}
.opciones{
    float: right;
    margin-top: 5%;   
}
.opciones a{
    text-decoration: none;
    color: beige;
    padding: 25px;
}
nav a #activo, nav a:hover{
    color: black;
    background-color: gray;
    width: 10%;
}
#fotosPrincipales{
    margin: 20px;
    text-align: center;
}
.producto img{
    width: 60%;
    height: 60%;
}
.producto{
    display: inline-block;
    justify-content: center;
    text-align: center;
    
}
#staff{
    margin-top: 20px;
    align-items: center;
    background-color: white;
    height: 550px;
    margin: 190px;
    text-align: center;
}
.titulo1{
    font-size: 35px;
    text-align: center;
    border-bottom: 2px solid gray;
    width: 30%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ejecutivo img{
    width: 130%;
    height: 130%;
}
.ejecutivo{
    margin: 20px;
    padding: 23px;
    display: inline-block;
    justify-content: center;
    width: 150px;
    text-align: center;
    border-bottom: 3px solid gray;
}
#noticias-recientes{
    margin-top: -15%;
}

.titulo2_2{
    padding-top: 40px;
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

.mas-vendidos{
    display: inline-block;
    justify-content: center;
    text-align: center;
    width: 20%;
    margin-left: 10%;
    
}

.mas-vendidos h3{
    text-align: center;
    font-size: 20px;
}


.mas-vendidos img{
    width: 250px;
    height: 250px;
    text-align: center;
    border: 5px solid gray;
}

.mas-vendidos p{
    color: gray;
    text-decoration: underline black;
    font-size: 30px
}


.foto{
    margin-left: 80px;
}
.foto img{
    width: 380px;
    height: 280px;
}

.info{
    float: right;
    width: 600px;
    left: 10%;
    margin-top: -250px;
 }

 .info p{
    font-size: 25px;
 }

 .info h6{
    padding-top: 18px;
 }

 .info svg{
    padding-top: 20px;
    color: rgb(243, 58, 58);
 }

 .info h6{
    font-size: 15px;
 }
 .info h4{
    font-size: 20px;
    padding-top: 5px;
    padding-left: 20px;
 }

.info p em{
    font-size: 15px;}

.lo-nuevo{
  display: inline-block; 
  justify-content: center;
  margin: 10px;
  width: 30%;
  text-align: center;
  padding-left: 1%;
  
}
.lo-nuevo img{
    width: 70%;
    height: 70%;
}
.pmo{
    width: 1100px;
    height: 50px;
    background-color: rgb(42, 31, 141);
    margin-left:130px;
     text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    }
.pmo h2{
    color: beige;
}

#publicidad{
    
    text-align: center;
}
.titulo2{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
    padding: 10px;
    text-align: center;
}
.pub{
    display: inline-block;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    width: 25%;
    height: 50%;
    border: 2px solid black;
    text-align: center;
}
.pub h2{
    font-size: 30px;
}
.pub h3{
    margin: 8px;
}
.pub h4{
    margin: 10px;
    font-size: 22px;
    border-bottom: 2px solid gray;
}
.pub p{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.pub2{
    display: inline-block;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    width: 29%;
    height: 50%;
    border: 2px solid black;
    text-align: center;
}
.pub2 h2{
    font-size: 30px;
    margin: 6px;
}
.pub2 img{
    width: 80%;
    height: 100%;
    margin: 5px;
}
.pub2 p{
    margin: 5px;
    border-bottom: 1px solid black;
}
.pub3{
    display: inline-block;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    width: 23%;
    height: 30%;
    border: 2px solid black;
    text-align: center; 
}
.pub3 h2{
    font-size: 27px;
    border-bottom: 2px solid rgb(33, 116, 25);
    margin: 3px;
}
.pub3 img{
    width: 80%;
    height: 80%;
    margin: 5px;
}
#productos{
    text-align: center;
}
.titulo1_{
    margin: 20px;
    font-size: 30px;
    color: rgb(63, 63, 63);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid black;
    width: 20%;
   padding: 5px;
}
.zapatillas{
    display: inline-block;
    justify-content: center;
    margin: 10px;
    border: 2px solid black;
    width: 25%;
    height: 35%;
}
.zapatillas img{
    width: 100%;
    height: 100%;
}
.zapatillas h3{
    margin: 6px;
}
.zapatillas p{
    font-size: 20px;
    margin: 5px;
}
 a #activo, a:hover{
    color: black;
    background-color: gray;
}
.Buzos{
    display: inline-block;
    justify-content: center;
    margin: 10px;
    border: 2px solid black;
    width: 25%;
    height: 35%;
}
.Buzos img{
    width: 100%;
    height: 100%;
}
.Buzos h3{
    margin: 6px;
}
.Buzos p{
    font-size: 20px;
    margin: 5px;
}
.Accesorios{
    display: inline-block;
    justify-content: center;
    margin: 10px;
    border: 2px solid black;
    width: 25%;
    height: 35%;
}
.Accesorios img{
    width: 100%;
    height: 100%;
}
.Accesorios h3{
    margin: 6px;
}
.Accesorios p{
    font-size: 20px;
    margin: 5px;
}
#registro{
    text-align: center;
    margin: 20px;
}
.Titulo1_2{
    font-size: 27px;
    margin: 20px;
}
.Formulario{
    display: inline-block;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
    width: 100%;
    height: 100%;
}
.boton button{
    width: 10%;
    height: 10%;
    font-size: 15px;
    margin: 10px;
}
.Titulo1_3{
    font-size: 25px;
    margin: 20px;
}
.formulario2{
    display: inline-block;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
    width: 100%;
    height: 100%;
}
#Sustentabilidad{
    align-items: center;
}
#Sustentabilidad h1{
    font-size: 40px;
    margin: 25px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline brown;
}
.tabla1 table{
    width: 70%;
    height: 70%;
    font-size: 20px;
   text-align: center;
   margin-left: 15%;
}
.tabla1 th{
    font-size: 25px;
    background-color: rgb(64, 139, 64);
}
.tabla1 td{
    background-color: rgb(82, 141, 82);
}
.tabla2 table{
    width: 70%;
    height: 70%;
    font-size: 20px;
   text-align: center;
   margin-left: 15%;
   background-color: bisque;
}
.tabla2 img{
    width: 90%;
    height: 90%;
}

.tabla3 table{
    width: 70%;
    height: 70%;
    font-size: 20px;
   text-align: center;
   margin-left: 15%;
   background-color: rgb(35, 131, 35);
   opacity: 0.9;
}

footer{
    height: 300px;
    width: auto;
    background-color:black;
   text-align: center;
   margin-top: 30px;
}
.redes-sociales p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-top: 50px;
}
.redes-sociales svg{
     width: 35px; height: 35px;
     padding: 15px;
     color: rgb(255, 255, 255);
    }

.nosotros{
    display: inline-block;
    justify-content: center;
    text-align: center;
}
.nosotros a{
    text-decoration: none;
    margin: 40px;
    font-size: 20px;
    color: rgb(249, 249, 249);
}
.nosotros a #activo, .nosotros a:hover{
    width: 20px;
    background-color: gray;
}
.tarjetas{
    align-content: center;
    padding-top: 20px;
}

.tarjetas img{
    width: 45px;
    height: 35px;
    padding: 15px;
}

footer p{
    color: bisque;
}